body {
  font-family: "Roboto Mono", monospace;
}
.box-1 {
  position: relative;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 3px;
}
.box-1 p:hover {
  opacity: 1;
  cursor: pointer;
}
.container {
  display: grid;
  grid-template-areas:
    "woman woman tower"
    "woman woman solitude"
    "young-girl childrens childrens"
    "young-girl childrens childrens"
    "exploring exploring exploring"
    "happiness happiness desert"
    "humanity kindness hungry";
  gap: 20px;
}
@media (max-width: 800px) {
  p {
    font-size: 24px;
  }
  .container {
    display: grid;
    position: absolute;
    z-index: -1;
    grid-template-areas:
      "woman "
      "tower"
      "solitude"
      "young-girl"
      "childrens"
      "exploring"
      "happiness "
      "desert"
      "humanity "
      "kindness "
      "hungry";
    gap: 20px;
  }
  .mainbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .box1 {
    display: none;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 48px;
    height: 6px;
    background-color: black;
    border-radius: 5px;
    margin: 3px;
  }
  .mainbox {
    position: relative;
  }
  .hamburg {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
  }
  span {
    margin-left: 10px;
  }
  .box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .navbox ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    right: -60px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 6px;
    height: 320px;
    padding: 24px;
    margin: 0 10px;
    transition: all 1s ease-in-out;
    box-sizing: border-box;
  }
}
.opendraw {
  transform: translateX(-40px);
}
ul {
  display: none;
}

#woman {
  grid-area: woman;
}
#tower {
  grid-area: tower;
}
#solitue {
  grid-area: solitude;
}
#young-girl {
  grid-area: young-girl;
}
#childrens {
  grid-area: childrens;
}
#exploring {
  grid-area: exploring;
}
#happiness {
  grid-area: happiness;
}
#desert {
  grid-area: desert;
}
#humanity {
  grid-area: humanity;
}
#kindness {
  grid-area: kindness;
}
#beach {
  grid-area: hungry;
}
.overlay {
  color: white;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-weight: 900;
  font-size: 24px;
}
li img {
  width: 30px;
  height: 30px;
}
.box1 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  text-transform: capitalize;
  box-sizing: border-box;
}
.mainbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
span {
  margin-left: 30px;
}

.animatebar1 {
  animation: 0.1s bar1;
  animation-fill-mode: forwards;
}
.animatebar2 {
  animation: 0.1s bar2;
  animation-fill-mode: forwards;
}
.animatebar3 {
  animation: 0.1s bar3;
  animation-fill-mode: forwards;
}
@keyframes bar1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg) translate(20px, 10px);
  }
}
@keyframes bar2 {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes bar3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg) translate(6px, 4px);
  }
}
